body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #9c9c9c;
    padding: 80px;
    margin: 20px;
}

#resultado, #favoritos div {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 15px auto;
    width: 200px;
}

#favoritos img,
#resultado img {
    width: 200px;
    height: auto;
}

#publicacion{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}
